<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Cens Palma">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>Cens electoral d'Inca - Eleccions Generals 2015</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"
          media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div class="container">
    <a href="http://www.incaciutat.com" title="Ajuntament d'Inca"><img src="{{ url_for('static', filename='img/ajuntament-inca.jpg') }}" alt="logotip de l'Ajuntament d'Inca" title="Ajuntament d'Inca" /></a>
    <h4>Cens Electoral d'Inca - Eleccions Generals 2016</h4>

    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel teal">
          <span class="white-text">Dades de la primera revisió del cens electoral remés per l'INE
          </span>
        </div>
      </div>
    </div>
    <div class="row">
        <form class="col s12" id="cens">
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input placeholder="DNI" id="nif" type="text">
                    <label for="nif">DNI (sense la lletra)</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light col s12" type="submit" name="action">Consulta
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>

                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light red lighten-2 col s12" type="button" id="delete">Esborra
                        <i class="mdi-content-clear right"></i>
                    </button>
                </div>
            </div>
        </form>
        <div id="errors" style="display:none;">
            <span id="error" class="red-text text-lighten-2"></span>
        </div>
	<div id="resultats">
        <table style="display:none;" class="striped" id="result">
            <tr>
                <th>Districte</th>
                <td id="district"></td>
            </tr>
            <tr>
                <th>Secció</th>
                <td id="section"></td>
            </tr>
            <tr>
                <th>Mesa</th>
                <td id="table"></td>
            </tr>
            <tr>
                <th>Col·legi</th>
                <td id="school"></td>
            </tr>
            <tr>
                <th>Direcció</th>
                <td id="address"></td>
            </tr>
        </table>
	</div>
    </div>
    <div class="footer" style="text-align: center; color: #777; font-size: 0.8em;">
      AJUNTAMENT D'INCA | Plaça d'Espanya, 1 07300 Inca (Illes Balears) | Tel. 871 914 000 | Fax 971 880 819 | NIF P0702700F <br/><br/>
      Crèdits: adaptació de l'aplicació web de consulta al cens del municipi de Palma <a href="https://github.com/joanfont/electoral-census" title="electoral-census, programat per Joan Font">electoral-census</a>. 
    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
